<% layout('/layouts/boilerplate') %>


    <div class="row mt-3">
        <div class="col-lg-8 offset-lg-2 col-md-8 offset-md-2 col-sm-10 offset-sm-1 col-12">
            <h3 style="text-align: center;">ADD YOUR OWN PROPERTY</h3>
            <form method="post" action="/listings" enctype="multipart/form-data" novalidate
                class="mt-3 border p-2 mb-3 needs-validation">
                <div class="mb-3">
                    <label for="listing[title]" class="form-label">Title</label>
                    <input type="text" placeholder="enter title here" name="listing[title]" class="form-control"
                        required>
                    <div class="invalid-feedback">Title is Required</div>
                    <div class="valid-feedback">Looks good</div>
                </div>
                <div class="mb-3">
                    <label for="listing[description]" class="form-label">Description</label>
                    <textarea type="text" placeholder="enter description here" name="listing[description]"
                        class="form-control" required></textarea>
                    <div class="invalid-feedback">Description is Required</div>
                    <div class="valid-feedback">Looks good</div>
                </div>
                <div class="row">
                    <div class="mb-3 col-4">
                        <label for="listing[location]" class="form-label">Location</label>
                        <input type="text" placeholder="enter title location" name="listing[location]"
                            class="form-control" required>
                        <div class="invalid-feedback">Location is Required</div>
                        <div class="valid-feedback">Looks good</div>
                    </div>
                    <div class="mb-3 col-8">
                        <label for="listing[category]" class="form-label">category</label>
                        <select class="form-select" name="listing[category]" aria-label="Default select example">
                            <option selected>Open this select menu</option>
                            <option value="farmHouse">Farm House</option>
                            <option value="villa">Villa</option>
                            <option value="mountain">Mountain</option>
                            <option value="dome">Domes</option>
                            <option value="houseBoat">House Boat</option>
                            <option value="house">House</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3 col-4">
                        <label for="listing[price]" class="form-label">Price</label>
                        <input type="text" placeholder="enter title price" name="listing[price]" class="form-control"
                            required>
                        <div class="invalid-feedback">Price is Required</div>
                        <div class="valid-feedback">Looks good</div>
                    </div>
                    <div class="mb-3 col-8">
                        <label for="listing[country]" class="form-label">Country</label>
                        <input type="text" placeholder="enter title country" name="listing[country]"
                            class="form-control" required>
                        <div class="invalid-feedback">Country is Required</div>
                        <div class="valid-feedback">Looks good</div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="listing[image]" class="form-label">Image</label>
                    <input type="file" placeholder="upload image" name="listing[image]" class="form-control" required>
                    <div class="invalid-feedback">Image is Required</div>
                    <div class="valid-feedback">Looks good</div>
                </div>
                <button type="submit" class="btn btn-dark mt-2 generate-btn">ADD TO WANDERLUST</button>
            </form>
        </div>
    </div>