<% layout("/layouts/boilerplate") %>

    <div class="row">
        <div class="alert alert-danger col-12" role="alert">
            <h4 class="alert-heading tac">
                <%= err.message %>
            </h4>
        </div>
    </div>