<% layout("/layouts/boilerplate") %>

    <div class="err-page">
        <div class="err-constainer tac">
            <img src="https://img.freepik.com/free-vector/404-error-with-cute-animal-concept-illustration_114360-1880.jpg?w=740&t=st=1710132507~exp=1710133107~hmac=5c642918f5d9bd127bbddb7e7f409bc70273f240df38064cac61c66339bdb180"
                alt="page not found">
        </div>
    </div>