<% if (success && success.length) { %>
  <div id="successAlert"
    class="alert alert-success alert-dismissible fade show tac col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-10 offset-sm-1 col-12"
    role="alert">
    <%= success %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
  </div>
  <% } %>
    <% if (error && error.length) { %>
      <div id="errorAlert" class="alert alert-danger alert-dismissible fade show tac col-6 offset-3" role="alert">
        <%= error %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
      </div>
      <% } %>

        <script>
          const successAlert = document.getElementById("successAlert");
          const errorAlert = document.getElementById("errorAlert");
          if (successAlert) {
            setTimeout(() => {
              successAlert.remove();
            }, 2000);
          }

          if (errorAlert) {
            setTimeout(() => {
              errorAlert.remove();
            }, 2000);
          }
        </script>