<nav class="navbar navbar-expand-md bg-body-tertiary border-bottom sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/listings"><span class="logo-location"><img src="/Logo.png" alt="logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
            <span class="navbar-toggler-icon "><i class="fa-solid fa-bars nav-icon-bar"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/listings"><i class="fa-solid fa-magnifying-glass"></i> EXPLORE</a>
                <a class="nav-link" href="/listings/new"> <i class="fa-solid fa-circle-plus"></i> ADD NEW </a>
            </div>

            <div class="navbar-nav ms-auto search-conatainer">
                <form class="d-flex " role="search" action="listings/search" method="post">
                    <input class="form-control me-2" id="searchInput" name="location" type="search"
                        placeholder="Search destinations.." aria-label="Search">
                    <button class="btn btn-search border" type="submit">Search</button>
                </form>
            </div>
            <div class="navbar-nav ms-auto">
                <% if(!currentUser){ %>
                    <a class="nav-link btn btn-dark btn-sm mt-2 signup generate-btn" href="/signup">Signup</a>
                    <a class="nav-link btn btn-dark btn-sm mt-2 login generate-btn" href="/login">login</a>

                    <% } else { %>
                        <a class="nav-link btn btn-dark btn-sm mt-2 generate-btn" href="/logout">logout</a>
                        <% } %>
            </div>
        </div>
    </div>
</nav>